<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head::head('Изменение параметров продуктов')}"></head>
<body>
    <div class="container">
        <div th:replace="~{fragments/header::header}"></div>
        <br/>
        <br/>
        <br/>
        <br/>
        <form th:action="@{/product/save/} + ${product.id}" method="post" th:object="${product}">
            <input style="display: none"
                   id="id"
                   type="text"
                   th:field="*{id}"/>

            <div class="form-group form-row align-items-center col-12">
                <div class="col-3"></div>
                <div class="col-2">
                    <label for="name"
                           class="col-form-label">Название
                    </label>
                </div>
                <div class="col-4">
                    <input id="name"
                           type="text"
                           th:field="*{name}"
                           class="form-control form-control-plaintext"
                           readonly/>
                </div>
                <div class="col-3"></div>
            </div>

            <div class="form-group form-row align-items-center col-12">
                <div class="col-3"></div>
                <div class="col-2">
                    <label for="price"
                           class="col-form-label">Цена, руб.
                    </label>
                </div>
                <div class="col-4">
                    <input id="price"
                           type="number"
                           step="1"
                           th:field="*{price}"
                           class="form-control"
                           placeholder="Введите стоимость продукта"/>
                    <ul th:if="${errors.containsKey('price')}">
                        <li th:each="error : ${errors.get('price')}" th:text="${error}" style="color: darkred"></li>
                    </ul>
                </div>
                <div class="col-3"></div>
            </div>

            <div class="form-group form-row align-items-center col-12">
                <div class="col-3"></div>
                <div class="col-2">
                    <label for="country"
                           class="col-form-label">Страна-производитель
                    </label>
                </div>
                <div class="col-4">
                    <input id="country"
                           type="text"
                           th:field="*{country}"
                           class="form-control"
                           placeholder="Введите страну-производителя"/>
                    <ul th:if="${errors.containsKey('country')}">
                        <li th:each="error : ${errors.get('country')}" th:text="${error}" style="color: darkred"></li>
                    </ul>
                </div>
                <div class="col-3"></div>
            </div>

            <div class="form-group form-row align-items-center col-12">
                <div class="col-3"></div>
                <div class="col-2">
                    <label for="note"
                           class="col-form-label">Описание
                    </label>
                </div>
                <div class="col-4">
                    <input id="note"
                           type="text"
                           th:field="*{note}"
                           class="form-control"
                           placeholder="Введите толщину заготовки"/>
                </div>
                <div class="col-3"></div>
            </div>

            <div class="form-group row align-items-center align col-12">
                <div class="col-3"></div>
                <div class="col-3">
                    <a th:href="@{/product/start}"
                       class="btn btn-secondary col-12" role="button">Назад</a>
                </div>
                <button type="submit" class="btn btn-success col-3">Изменить</button>
                <div class="col-3"></div>
            </div>
        </form>

        <div th:replace="~{fragments/js-connect::js-connect}"></div>
    </div>
</body>
