<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head::head('Каталог продуктов')}"></head>
<body>
    <div class="container">
        <div th:replace="~{fragments/header::header}"></div>
        <br/>
        <br/>
        <br/>
        <br/>
        <h1 class="text-lg-center">Добро пожаловать!</h1>
        <br/>
        <img src="/images/upload/basket.jpg" class="d-inline-block align-content-center" alt="">

    <div th:replace="~{fragments/js-connect::js-connect}"></div>
</div>
</body>